<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="mySquare" class="setterinjection.Circle">
		<property name="type" value="Sphere"></property>
	</bean>
	<bean id="myTriangle" class="setterinjection.Triangle">
		<property name="type" value="Isoceles"></property>
	</bean>

</beans>