<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="myCircle" class="constructorinjection.Circle">
		<constructor-arg value="Ellipse" type="java.lang.String"></constructor-arg>
		<constructor-arg value="25" type="int"></constructor-arg>
	</bean>

	<bean id="myCircle2" class="constructorinjection.Circle">
		<constructor-arg value="Ellipse" type="java.lang.String"></constructor-arg>
	</bean>

	<bean id="myCircle3" class="constructorinjection.Circle">
		<constructor-arg value="45" type="int"></constructor-arg>
	</bean>

	<bean id="myCircle4" class="constructorinjection.Circle">
		<constructor-arg value="Sphere" index="0"></constructor-arg>
		<constructor-arg value="99" index="1"></constructor-arg>
	</bean>

<!-- 	<bean id="myCircle5" class="constructorinjection.Circle">
		<constructor-arg value="2002" index="0"></constructor-arg>
		<constructor-arg value="Helios" index="1"></constructor-arg>
	</bean>
 -->
</beans>